params {
	//Initial parameters
	import_sheet = 'import.txt'
	ncbi_api_key = ''
	outdir = 'geteilt'
	local_reads = true
	reads = 'reads/*_{1,2}.fastq.gz'
	amrfinder = true
	
	//ARANDPLASMIDSCREEN
	//staramr db update --resfinder-commit ${params.staramr_resfinder_commit} --pointfinder-commit ${params.staramr_pointfinder_commit} --plasmidfinder-commit ${params.staramr_plasmidfinder_commit} databases
	staramr_resfinder_commit = '1a53e55081ce35dfc05ecd995e6326eb8c428b19' //Date of commit: Wed, 31 May 2023 08:34
	staramr_pointfinder_commit = 'cb7806fd9bfeec1497ff9f6b6c278284ba560ec6' //Date of commit: Wed, 31 May 2023 08:37
	staramr_plasmidfinder_commit = '314d85f43e4e018baf35a2b093d9adc1246bc88d' //Date of commit: Fri, 17 Mar 2023 08:05
	staramr_salmonella_exclude = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/salm_genes_to_exclude.tsv'
	staramr_escherichia_exclude = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/ec_genes_to_exclude.tsv'
	staramr_campylobacter_exclude = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/campy_genes_to_exclude.tsv'
	
	//AMRFINDER
	
	//MUTATIONAL
	ariba_outdir = 'mutational'
	ariba_ecoli_database = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/ecpoints/ecpoints'
	ariba_cjejuni_database = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/23S/out.prepareref.23s'
	ariba_ccoli_database_gyrA = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/campycpoints/campycpoints'
	ariba_ccoli_database_23S = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/23S/out.prepareref.23s'
	ariba_cupsaliensis_database_gyrA = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/campyupoints/campyupoints'
	ariba_cupsaliensis_database_23S = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/23S/out.prepareref.23s'
	ariba_vcoli_database = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/vcpoints/vcpoints'
	ariba_vparahaemolyticus_database = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/vppoints'
	ariba_yersiniae_database = '/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/NARST_research/scripts/databases/yepoints/yepoints'
}

process {
	withName:READMETRICS {
		container = 'docker://staphb/lyveset:1.1.4f'	
	}
	withName:ASSEMBLE {
		container = 'docker://staphb/shovill:1.1.0-2022Dec'
	}
	withName:ARANDPLASMIDSCREEN {
		container = 'docker://staphb/staramr:0.7.1'
	}
	withName:AMRFINDER {
		container = 'docker://ncbi/amr:3.11.14-2023-04-17.1'
	}
	withName:MUTATIONAL {
		container = 'docker://staphb/ariba:2.14.4'
	}
}

profiles {
	//standard for local
	standard {
		process {
			executor = 'local'
			cpus = 8
		}
		singularity {
			enabled = true
			autoMounts = true
			cacheDir = "$SINGULARITY_CACHEDIR"
		}
	}
	//sge for CDC cluster
	 sge {
	   process {
		 executor = 'sge'
		 penv = 'smp'
		 queue = 'all.q'
		 cpus = 8
	   }
	   executor {
		 queueSize = 100
		 pollInterval = '15 sec'
	   }
	   singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "$SINGULARITY_CACHEDIR"			
	   }
	 }
	 //SHORT - add to profile if you want cluster short queue
	 short {
	   process {
		 queue = 'short.q'
	   }
	 }
	//GPU - add to profile if you want gpu queue
	 gpu {
	   process {
		 queue = 'gpu.q'
	   }
	 }
	//HIGHMEMORY - add to profile if you want highmem queue
	 highmem {
	   process {
		 queue = 'highmem.q'
	   }
	 }
}